extends layout

block content
	h1 Create a new message hello
	a(href='/') Home
	form(method='POST' action='/new')
		label Your message
			input(type='text' required name='text')
		label Your name
			input(type='text' required name='user')
		button Save