extends layout

block content
	h1 Create a new message
	form(method='POST' action='/new')
		label Your message
			input(type='text' required name='message')
		label Your name
			input(type='text' required name='name')
		button Save