<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    body {
      background-color: #fff;
      font-family: sans-serif;
    }
    .message {
      max-width: 600px;
      margin: 20px auto;
      border-radius: 5px;
      background-color: #aaa;
      padding: 20px;
      color: #fff;
    }
    .message-author {

    }
    label, input, a {
      display:  block;
    }
    h1 {
      display: inline;
    }
  </style>
</head>
<body>
  <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/log-out">LOG OUT</a>
    <a href="/new-message">Add a message</a>
  <% } else { %>
    <details>
      <summary><h1>Log in</h1></summary>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button>Log In</button>
      </form>
    </details>
    
    <details>
      <summary><h1>Sign Up</h1></summary>
      <form action="/sign-up" method="POST" class="sign-up">
        <label for="username">Username</label>
        <input name="username" placeholder="username" class="sign-up" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" class="sign-up" />
        <label for="cpassword">Confirm Password</label>
        <input name="cpassword" type="password" class="sign-up" />
        <button>Sign Up</button>
      </form>
      <script defer>
        let signUpForm = document.querySelector('form.sign-up')
        signUpForm.onsubmit = function(event) {
          if (signUpForm.password.value !== signUpForm.cpassword.value) {
            event.preventDefault()
            // here supposed to be the code to tell the 
            // user about not matching passwords
          }
        }
      </script>
    </details>
    
  <%}%>
  <% if (messages.length) {%>
    <% for (message of messages) {%>
      <div class='message'>
      <% if (user) {%>
        <% let sender = users.find(user => user._id.toString() === message.user.toString()) %>
        <p class='message-author'><%= sender.username %></p>
      <% } else { %>
        <p class='message-author'>undefined000</p>
      <%}%>
      <pre class='message-body'><%= message.body %></pre>
    </div>
    <%}%>
  <% } else { %>
    <h2>There are no messages yet!</h2>
  <%}%>

</body>
</html>
