<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <h1>New message</h1>
    <form action="/new-message" method="POST">
      <label for="message">Password</label>
      <textarea name="message" id="message"></textarea>
      <button>Add</button>
    </form>
</body>
</html>
