
:root {
	font-size: 62.5%;
	font-family:  "Montserrat", "Helvetica", "Open Sans", sans-serif;
}

.dark {
	--main-bg-color: #1e1d15;
	--elements-color: #272121;
	--form-bg-color: #1e1d15;
	--text-color: #fff;
	--button-color: #fff;
	--label-color: #aaa;
	--label-acive-color: #fff;
	--toggle-bg-color: #f4da04;
	--toggle-color: #313330;
}

.light {
	--main-bg-color: #bdbdbd;
	--elements-color: #fff;
	--form-bg-color: #bdbdbd;
	--text-color: #000;
	--button-color: #fff;
	--label-color: #9d9d9d;
	--label-acive-color: #000;
	--toggle-bg-color: #fff;
	--toggle-color: #f00;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: color, background-color 150ms ease-in-out;
}

ul, li, ol {
	list-style: none;
}
button, a {
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: var(--button-color);
	cursor: pointer;
}

body {
  	background-color:  var(--main-bg-color);
	color: var(--text-color);
	font-size: 1.6rem;
}

img {
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
}

.toggle {
	display: inline-block;
	width: 48px;
	height: 28px;
	background-color: var(--toggle-bg-color);
	border-radius: 999px;
	position: relative;
		// transition: background-color transform 250ms ease-in-out;
	&::before {
		display: block;
		background-color: var(--toggle-color);
		border-radius: 999px;
		position: absolute;
		transition: all 150ms ease-in-out;
		content: '';
		top: 2px;
		left: 2px;
		width: 24px;
		height: 24px;
	}
	/*&[aria-checked="true"]*/
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FF4D00;
	padding: 1.4rem 2.4rem;
	color: #fff;
	> button {
		display: flex;
		align-items: center;
		.toggle {
			margin-right: 0.8rem;
		}
		&[aria-checked="true"] .toggle::before {
			transform: translatex(20px);
		}
	}
}

main {

	padding: 0 2.4rem;

	.top-bar {
		margin: 2.4rem 0;
		display:  flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		#search-form {
			width: 100%;
			> input {
				width: 100%;
				max-width: 400px;
				padding: 1rem;
				border-radius: 4px;
				border: none;
				background: var(--elements-color);
				color: var(--text-color);
				&::placeholder {
					color: var(--text-color);
				}
			}
		}
		#open-book-form {
			min-width: 10rem;
			height: 100%;
			display: inline-block;
			background-color: #FF4D00;
			border-radius:  4px;
			padding: 1rem;
		}
		#book-form {
			display: none;
			position: absolute;
			.form-bg {
				position:  fixed;
				width: 100vw;
				height: 100vh;
				top: 0;
				left: 0;
				z-index: 11;
				background-color: #00000080;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 2.4rem;
			}
			.wrapper {
				background-color: var(--form-bg-color);
				padding: 4rem 2.4rem 3.5rem;
				border-radius: 1.5rem;
				max-width: 400px;
				min-width: 320px;
				width: 100%;
			}
			label {
				display: block;
				margin-bottom: 3rem;
				position: relative;
				.label-text {
					position: absolute;
					top: 1.6rem;
					left: 1.5rem;
					color: var(--label-color);
					transition: all 250ms ease-in-out;
					&.active {
						transform: translateY(-3.7rem) translateX(-1.5rem);
						color: var(--label-active-color);
					}
				}
				> input {
					background-color: var(--elements-color);
					border: none;
					border-radius: 5px;
					padding: 1.5rem;
					width: 100%;
					font-size: 1.6rem;
					color: var(--text-color);
				}
				input[type='checkbox'] {
					display: inline-block;
					border-radius: 10px;
					width: 17px;
					height: 17px;
				}
				input[type='number'] {
				    -moz-appearance:textfield;
				}

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
				    -webkit-appearance: none;
				}
			}
			button {
				min-width: 10rem;
				height: 100%;
				display: inline-block;
				background-color: #FF4D00;
				border-radius:  4px;
				padding: 1rem;
				&:last-child {
					float: right;
					background-color: #FF4D0050;
				}
			}
		}
	}

	.books-container {
		display: grid;
		width:  100%;
		grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
		grid-gap: 28px;
		justify-items: center;

		.book {
			max-width: 400px;
			border-radius: 7px;
			width: 100%;
			background: var(--elements-color);
			overflow: hidden;

			&-preview {
				max-height: 250px;
				min-height: 250px;
				height: 250px;
				width: 100%;
				overflow: hidden;
				position: relative;
				&.none {
					display: flex;
					align-items: center;
					justify-content: center;
				}
				> img {
					object-fit: contain;
					position: relative;
					z-index: 1;
					border:  none;
				}
				.img-bg {
					width: 100%;
					position: absolute;
					left: 0;
					top: 0;
					object-fit: cover;
					filter: blur(10px);
				}
			}
			&-description {

				padding: 2.4rem;
				color: var(--text-color);
				.title, .author {
					margin-bottom: 1rem;
				}
				.pages {
					font-size: 2rem;
				}
				.progress-bar {
					margin: 1rem 0;
					height: 1px;
					background-color: #bdbdbd;
					position: relative;
					&::before, &::after, .progress {
						content: "";
						display: block;
						position: absolute;
						height:5px;
						width: 5px;
						background-color: #bdbdbd;
						border-radius: 6px;
						top: -2px;
					}
					&::before {
						left: 0;
					}
					&::after {
						right: 0;
					}
					.progress {
						transform: translateX(50px);
					}
				}
				.finished {
					display: block;
					margin-bottom: 1rem;
					input {
						display: inline-block;
						width: 20px;
						height: 20px;
						border-radius: 20px;
					}
				}
				.delete {
					min-width: 10rem;
					height: 100%;
					display: inline-block;
					background-color: #F00;
					border-radius:  4px;
					padding: 1rem;
				}
			}
		}
	}
}