:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #a300ff none repeat scroll 0% 0%;
  font-family: "Helvetica", sans-serif;
  font-size: 1.6rem;
}

ul, ol, li {
  list-style: none;
}

button {
  appearance: none;
  border: none;
}

#sidebar {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 6.4rem;
  z-index: 99;
}
#sidebar nav {
  background: #df00ff none repeat scroll 0% 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 0 0;
  gap: 2.8rem;
}
#sidebar nav .sidebar-icon {
  background: #fff;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 5rem;
  font-size: 2.6rem;
  transition: all 250ms linear;
  position: relative;
}
#sidebar nav .sidebar-icon:hover {
  border-radius: 1.5rem;
}
#sidebar nav .sidebar-icon .tooltip {
  background: #333;
  color: #fff;
  border-radius: 7px;
  font-size: 1.6rem;
  padding: 1rem;
  position: absolute;
  top: 0.6rem;
  left: 75px;
  width: max-content;
  transition: 100ms linear;
  transform: scale(0);
}
#sidebar nav .sidebar-icon:hover .tooltip {
  transform: scale(1);
}

#all-projects {
  margin-left: 6.4rem;
  position: relative;
  padding: 2.4rem;
}
#all-projects h1 {
  margin-bottom: 2rem;
}
#all-projects > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
  justify-items: center;
}
#all-projects > ul > li {
  width: 25rem;
  height: 25rem;
}
#all-projects > ul .project {
  width: 25rem;
  height: 25rem;
  background: #fff;
  border-radius: 0.8rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  text-align: left;
  color: #333;
}
#all-projects > ul .project h2 {
  font-size: 2rem;
}
#all-projects > ul .project > ul {
  padding: 1.4rem;
}

#project-page {
  padding: 2.4rem;
  position: absolute;
  background-color: magenta;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
}
#project-page .back {
  width: 4rem;
  height: 4rem;
  background: #fff;
  border-radius: 10rem;
  margin-bottom: 2.4rem;
}
#project-page .back:hover {
  filter: brightness(0.9);
}
#project-page .back:active {
  filter: brightness(0.8);
}
#project-page h1, #project-page h2 {
  max-width: 60rem;
  margin: auto;
  margin-bottom: 3rem;
}
#project-page .msg {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#project-page ul {
  max-height: 400px;
  overflow: auto;
}
#project-page .task {
  display: flex;
  align-items: center;
  background: #ffffff40;
  max-width: 60rem;
  margin: auto;
  margin-bottom: 2rem;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
#project-page .task .line-through {
  text-decoration: line-through;
}
#project-page .task input, #project-page .task button {
  width: 3rem;
  height: 3rem;
  background: #fff;
}
#project-page .task input {
  margin-right: 2rem;
}
#project-page .task button {
  margin-left: auto;
}
#project-page .task button:last-child {
  margin: 0 0 0 1rem;
}
#project-page .task .priority {
  width: 0.5rem;
  height: 3rem;
  display: inline-block;
  margin-right: 0.5rem;
}
#project-page .task .priority-3 {
  background: red;
}
#project-page .task .priority-2 {
  background: yellow;
}
#project-page .task .priority-1 {
  background: green;
}
#project-page .task .priority-0 {
  background: transparent;
}

#quick-task form {
  display: flex;
  align-items: center;
  background: #ffffff40;
  border-radius: 4px;
  max-width: 60rem;
  margin: auto;
  margin-bottom: 3rem;
  color: #fff;
  overflow: hidden;
}
#quick-task form .line-through {
  text-decoration: line-through;
}
#quick-task form input[type=text] {
  height: 3rem;
  border: none;
  appearance: none;
  color: #fff;
  background: transparent;
  font-size: 1.6rem;
  outline: none;
  flex-grow: 1;
}
#quick-task form input[type=text]::placeholder {
  color: #fff;
}
#quick-task form select {
  height: 3rem;
  width: 3rem;
  background: #fff;
  border: none;
  appearance: none;
}
#quick-task form .plus {
  width: 3rem;
  height: 3rem;
  background: transparent;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
#quick-task form input[type=checkbox] {
  width: 3rem;
  height: 3rem;
  background: #fff;
  margin: 0 1rem 0 auto;
}
#quick-task form .priority {
  width: 0.5rem;
  height: 3rem;
  display: inline-block;
  margin-right: 0.5rem;
  background: #fff;
}

/*# sourceMappingURL=style.css.map */
